<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/admin-log.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/footer-cheat.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Poppins&display=swap" rel="stylesheet">
    <title>CS Tracker</title>
</head>
<body>
    <nav id="admin-nav">
        <img src="../img/logo.svg" alt="CS Logo" id="logo">
        <h2 id="app-title">CS Tracker</h2>
        <a href="/admin-register" id="register-button">Register</a>
    </nav>

    <!-- Admin Login -->
    <div id="admin-log">
        <h2 id="admin-log-title">Admin Login</h2>

        <form action="/admin-login" method="POST">
          <input type="email" id="admin-log-bu" name="email" placeholder="Email" class="form-input"><br><br>
          <input type="password" id="admin-log-bu" name="password" placeholder="Password" class="form-input"><br><br>
          <input type="checkbox" id="Remember-Me" name="Remember-Me">
          <label for="Remember-Me"> Remember Me</label><br><br>
          <input type="submit" value="Log In" class="form-button">          
        </form> 


    </div>
    
</body>
</html>
