<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- reset css -->
     <link rel="stylesheet" href="../css/reset.css">
     <!-- font styles -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Poppins&display=swap" rel="stylesheet">
     <!-- main styles -->
     <link rel="stylesheet" href="../css/main.css">
     <!-- tablet styles -->
    <link rel="stylesheet" href="../css/tablet-style.css">

    <link rel="stylesheet" href="../css/footer-cheat.css">

    <link rel="stylesheet" href="../css/loghours.css">

    <title>CS Tracker</title>
</head>
<body>
    <!-- navigation system -->
    <nav>
        <img id="logo" src="../img/logo.svg" alt="CS tracker logo">
        <h2 id="app-title">CS Tracker</h2>
        <img id="menu-icon" src="../img/hamburger-menu.svg" alt="Menu">
    </nav>

    <!-- LOG HOURS -->
    <div id="form-backdrop" class="form-backdrop">
        <h2 class="form-title">Log Hours</h2>

        <form class="form" action="">
            <input class="form-input" type="text" id="date" name="date" placeholder="Date"><br>
            <input class="form-input" type="text" id="Location" name="location" placeholder="Location"><br>
            <input class="form-input" type="text" id="start-time" name="start-time" placeholder="Start Time"><br>
            <input class="form-input" type="text" id="end-time" name="end-time" placeholder="End Time"><br>
            <input class="form-input" type="text" id="name" name="name" placeholder="Center Name"><br>
            <input class="form-input" type="text" id="contact-person" name="contact-person" placeholder="Contact Person"><br>
            <input class="form-input" type="text" id="description" name="description" placeholder="Description" style="height: 70px;"><br>
            <button type="button" class="form-button">Log</button>
        </form> 
    </div>
    
    <footer>
        <ul>
            <li><a href="about.html">about</a></li>
            <li><a href="contact-us.html">contact</a></li>
            <li><a href="">social</a></li>
        </ul>
        <p>&copy; 2021 CS Tracker</p>
    </footer>
</body>
</html>

