<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- reset css -->
        <link rel="stylesheet" href="../css/reset.css">
        <!-- font styles -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Poppins&display=swap" rel="stylesheet">
        <!-- main styles -->
        <link rel="stylesheet" href="../css/main.css">
        <!-- tablet styles -->
        <link rel="stylesheet" href="../css/responsive.css">

        <link rel="stylesheet" href="../css/footer-cheat.css">
    
    <title>CS Tracker</title>
</head>
<body>
    <!-- Navigation -->
    <nav>
        <img src="../img/logo.svg" alt="CS logo" id="logo">
        <h2 id="app-title">CS Tracker</h2>
    </nav>
    <div id="form-backdropr" class="form-backdrop">
        <h2 id="form-titler" class="form-title">Registration</h2>

        <form class="form" action="/register" method="POST" >
            <input class="form-input" type="text" id="name" name="name" placeholder="Full Name"> <br>
            <input class="form-input" type="text" id="email" name="email" placeholder="Email"><br>
            <input class="form-input" type="text" id="school" name="school" placeholder="School"><br>
            <input class="form-input" type="password" id="password" name="password" placeholder="Password"><br>
            <input class="form-input" type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password"><br>
            <input class="" type="checkbox" class="form-checkbox" name="terms">
            <label class="" for="terms">Terms and Services</label><br>
            <button class="form-button">Submit</button>
        </form> 

    </div>
  

<!-- footer -->
    <footer>
        <ul>
            <li><a href="about.html">about</a></li>
            <li><a href="contact-us.html">contact</a></li>
            <li><a href="">social</a></li>
        </ul>
        <p>&copy; 2021 CS Tracker</p>
    </footer>
</body>
</html>
