/* ***************************************
    Cell styles
*************************************** */





/* ***************************************
    Tablet styles
*************************************** */
@media all and (min-width: 768px) {
    
    /* /Student Show/ */
    #bkg {
        width: 48%;
        float: left;
        background: rgb(31 31 30 / 85%);
        border-radius: 10px;
        margin: 0;
        padding: 0;
        margin: 60px 0 0 0;
    }

    #section {
        width: 48%;
        float: left;
        margin: 60px 0;
        font-size: 22.62px;
        text-align: center;
    }

    #table-bg {
        clear: both;
        background: rgba(196, 196, 196, 0.5);
        padding-top: 36px;
        padding-bottom: 11px;
        margin-bottom: 15px;
    }

    #profile-pic {
        margin-bottom: 15px;
        border-radius: 50%;
        width: 294px;
        height: 250px;
    }

    .text1 {
        margin: 13px 50px 20.7px 54.48px;
        display: inline-block;
        color: white;
        font-family: 'Dosis', sans-serif;
        font-size: 24px;
    }

    .hours {
        margin: 13px 40px 20.7px 0;
        display: inline-block;
        color: white;
        font-family: 'Dosis', sans-serif;
        font-size: 24px;
    }

    #add-hours {
        margin: 10% auto;
        border-style: none;
        height: 49px;
        width: 149px;
        font-size: 20px;
        font-family: 'Dosis', sans-serif;
        border-radius: 97px;
        display: block;
    }

    #table-bg {
        font-size: 20px;
        margin-bottom: 35px;
    }


    ul {
        margin-left: 24%;
    }

    li {
        line-height: 21px;
        font-size: 15px;
        margin-right: 25%;
        display: inline;
    }

    p {
        margin: 8.75px 46.5%;
        line-height: 10px;
        font-size: 8px;
        color: #fff;
    }

    nav {
        height: 50px;
    }

    #logo {
        margin-top: 6px;
    }

    #app-title {
        top: 10px;
        left: 41.5%;
        font-size: 25px;
    }

    #menu-icon {
        margin-top: 17px;
        margin-right: 15px;
    }

    #ss-title {
        clear: both;
    }

    #table-bkg {
        clear: both;
    }
    
    #ss-table {
     font-size: 18px;
    }

/* /Log In/ */
    .form-title {
        color: #1E1B11;
        font-family: 'Dosis';
        font-size: 28px;
        margin-bottom: 30px;
        margin-top: 10%;
    }

    .form-input{
        margin-bottom: 30px;
        background: rgba(196, 196, 196, 1);
        border-style: none;
        border-radius: 126px;
        height: 40px;
        width: 80%;
    }
    
  

    .form-input{
        margin-bottom: 20px;
        background: rgba(196, 196, 196, 1);
        border-style: none;
        border-radius: 126px;
        height: 45px;
        width: 80%;
        font-size: 20px;
        font-family: 'Dosis';
    }

    .form-checkbox {
        margin-bottom: 11px;
        margin-top: 19px;
    }
    .form-button {
        color: #1E1B11;
        background: rgba(62, 146, 204, 1);
        font-size: 19px;
        width: 124px;
        height: 55px;
        border-radius: 20px;
        border-style: none;
        margin-top: 18px;
    }

/* /Log Hours/ */
    #form-backdrop {
        border-radius: 5px;
        padding-top: 15px;
        background: rgba(196, 196, 196, 0.1);
        text-align: center;
        width: 90%;
        margin: 24px auto 25px;
        margin-top: 9%;
    }

/* /Registration/ */
    #form-backdropr {
        border-radius: 5px;
        padding-top: 15px;
        background: rgba(196, 196, 196, 0.1);
        text-align: center;
        width: 90%;
        margin: 24px auto 25px;
        margin-top: 9%;
    }
    #form-titler {
        color: #1E1B11;
        font-family: 'Dosis';
        font-size: 28px;
        margin-bottom: 30px;
        margin-top: 6%;
    }
    /* /Admin Dashboard/ */
    #table-title {
        display: inline-block;
        font-family: 'Dosis', sans-serif;
        font-size: 22px;
        margin-left: 46%;
        margin-top: 15px;
    }

    #table-title2 {
        display: inline-block;
        font-family: 'Dosis', sans-serif;
        font-size: 22px;
        margin-left: 40%;
        margin-top: 15px;
    }
/* /Admin Registration/ */  
    .form-input {
        margin-bottom: 20px;
        background: rgba(196, 196, 196, 1);
        border-style: none;
        border-radius: 126px;
        height: 60px;
        width: 390px;
        font-size: 20px;
        font-family: 'Dosis';
        text-align: center;
    }
    .form-title {
        color: #1E1B11;
        font-family: 'Dosis';
        font-size: 30px;
        margin-bottom: 30px;
        margin-top: 10%;
    }

    .form-button {
        color: #1E1B11;
        background: rgba(62, 146, 204, 1);
        font-size: 19px;
        width: 128px;
        height: 60px;
        border-radius: 20px;
        border-style: none;
        margin-top: 18px;
    }
}

@media all and (min-height: 1024px) {

    #wrapper {        
     margin: 5% 0 0;
    }
    
    footer {
        bottom: 0;
    }

    /* /Admin Registration/ */  
    .form-input {
        margin-bottom: 20px;
        background: rgba(196, 196, 196, 1);
        border-style: none;
        border-radius: 126px;
        width: 47%;
        height: fit-content;
        font-size: 20px;
        font-family: 'Dosis';
        text-align: center;
        /* float: left; */
        padding: 18px;
    }
    .tac{
        margin-top: 40px
    }
    #button{
        margin-top: 24px;
        height: 64px;
        width: 120px;
    }
    .form-title {
        color: #1E1B11;
        font-family: 'Dosis';
        font-size: 35px;
        margin-bottom: 45px;
        margin-top: 10%;
    }
    .form-backdrop {
        border-radius: 5px;
        padding-top: 6px;
        background: rgba(196, 196, 196, 0.1);
        text-align: center;
        width: 93%;
        height: 768px;
        margin: 24px auto 25px;
        margin-top: 7%;
    }
    .form-button {
        color: #1E1B11;
        background: rgba(62, 146, 204, 1);
        font-size: 19px;
        width: 128px;
        height: 60px;
        border-radius: 20px;
        border-style: none;
        margin-top: 18px;
    }
}




/* ***************************************
    Desktop styles
*************************************** */

@media screen and (min-width: 1440px) {

    #hours-title {
        width: 42%;
        display: inline;
        float: left;
        margin-left: 50px;
    }
      #hours {
        display: inline-grid;
        width: 20%;
        margin-left: 125px;
    }
}




